<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Item Sheet Header --}} {{>
  "systems/swade/templates/items/partials/header-delete.html"}}
  <section class="sheet-body">
    <div class="form-group">
      <label class="check-container"
        >{{localize "SWADE.MajHind"}}
        <input
          type="checkbox"
          name="data.major"
          {{checked
          item.data.major}}
          data-dtype="Boolean"
        />
        <span class="checkmark"></span>
      </label>
    </div>
    {{> "systems/swade/templates/setting-fields.html"}} {{>
    "systems/swade/templates/items/partials/description.html"}}
  </section>
</form>
